* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  color: black;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #b7b4b4;
  padding: 0.7em; 
  border-bottom: 0.01rem #b7b4b4 solid;
}

.estate-list-container {
  display: flex;
  padding: 0.5em 8vw;

  .estate {
   max-width: 10vw;
   position: relative;
   
   img {
     max-height: 10vh;
     width: 8.2vw;
    //  position: absolute;
   }

   &__name {
      font-size: 0.5em;

    
     
   }
  }
}

.selectedA{
  background-color: lightpink;
  z-index: 1;
  position: absolute;
}
.selectedB{
  border: 5px lightsteelblue solid;
  // position: absolute;
}
.a{

  background-color: lightsteelblue;
  position: absolute;
  z-index: 10;
 
 
}

.estate-compare{
  display: flex;
  .estate-container{
    border: 0.05rem lightgrey solid;
    padding: 0.5rem;
    max-width: 21.5%;
    line-height: 1.3em;
    font-size: 0.6em;
    &:first-child {
      margin-left: 28.5%;
      margin-right:1rem;
    }
    .estate-image {
      max-width: 20vw;
    }
    .estate-specs{
      display:flex;
      flex-direction: column;
    
      &__label{
        display:flex;
        justify-content: space-between;
        padding: 0.3em;
        
        strong {
          font-weight: 800;
        }
      }
    }
    .company{
      display: flex;
      &__logo {
        width: 22%;
      }
      &__name {
        align-self: center;
        padding-left: 0.5em;
      }
    }
  }
}
.betterValue{
  background-color: #78e778;
}
.worseValue {
  background-color: #fc8194;
}
